body {
  background-color: lightblue;
}

.myDiv {
  text-align: center;
}

.otherDiv {
  text-align: center;
  height: auto;
  width: auto;
}

h1, h2, p, label[for="number"] {
  color: navy;
  text-align: center;
}

label[for="malePick"], label[for="femalePick"] {
  color: navy;
}

h3 {
  color: red;
}

input[type="number"] {
  width: 40px;
}
